*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to left bottom,
    rgb(244, 246, 247),
    rgb(67, 158, 214),
    rgb(244, 246, 247)
  );
  min-height: 100vh;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: rgb(208, 204, 204);
    border-radius: 5px;
  }
}
